header h2{
	font-family: 'Monoton', cursive;
	color:#E724CA;
	font-size:3em;
	letter-spacing: 0.3em;

}
header{
	background: url(Img/Pic.png) no-repeat right 0px;
    padding:1em 0 0.5em;
	margin:0 0 3.0em;
}

h3{
	font-family: 'Rancho', cursive;
}
img{
	width:150px;
	height:150px;
}

body{
	background: url(Img/Background-pic.jpg) no-repeat fixed top center;
	padding: 0;
	margin: 0;
	-webkit-background-size: 100% 100%;
}


